upstream app_backend {
    {% for host in groups['app'] %}
    server {{ host }}:5000;
    {% endfor %}
}

server {
    listen 80 default_server;
    server_name _;

    location / {
        proxy_pass http://app_backend;
    }
}
